body {
    background-color: #3388FF;
}
.screen{
    background-color: white;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
h2{
   font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.start-btn{
    width: 80%;
    margin: 20px;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #235CFB;
    color: white;
}
.container-btn{
    width: 450px;
    height: 450px;
    margin: 0 auto;
    background-color: gray;
}
#game-screen {
    display: none;
}
